<h1><%= t "v_mail.header_mail" %></h1>
<p><%= (t "v_mail.say_hi") + @user.name %></p>
<%= t "v_mail_reset.start_mail" %>
<%= link_to (t "v_mail.link"), edit_password_reset_url(id: @user.reset_token,
                                                      email: @user.email) %>
<%= t "v_mail_reset.end_mail" %>
